{% include 'navBar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome to eCom 1.0</title>
</head>
<body>
	<h1 style="text-align: center;">Welcome to eCom</h1>
	{% block content %}
	<div style="text-align: center;">
		<a href="login"><input type="submit" value="login" name="login"></a>
		<a href="register"><input type="button" value="register" name="register"></a>
	</div>
	{% endblock content %}
</body>
</html>