{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <form action="." method="GET">
	<input type="text" name="id" placeholder="Search by ID"/>
	<input type="submit" value="Save"/>
</form> -->
<!-- <img src="{% static 'unavailable-image.jpg' %}" height="300px" alt=""> -->
<!-- <img src="{% static '{{ object.image }}' %}" height="300px" alt=""> -->

<h1>{{ object.title }}</h1>
<!-- <br> -->
<img src="{{ STATIC_URL }}/{{ object.image }}" alt="image-not-available" height="200px">
<br>
${{ object.price }}
<br>
<h3>{{ object.description }}</h3>
<br>
{% endblock content %}